@model loterieCda.Models.LoterieViewModel

@{
    ViewData["Title"] = "Home Page";

}

<p>@Model.DateHeureTirage</p>
<div id="resultat">
    <div id="cagnotte">
        Cagnotte actuelle : @Model.CagnotteTirage
    </div>

    <div id="gain">
        Gain : xx choux
    </div>
</div>

<div id="info" style="display: none">
    <p>Code partie actuelle :</p>
    <p>@Model.Guid</p>
    <p class="alert">! VEUILLEZ LE NOTER !</p>
</div>

@{
    // Génère dynamiquement la grille
    for (int i = 1; i < 50; i++)
    {
        <div id="grille-total">
            <div class="grille">
                <input type="button" value="@i" id="@i" onclick="jouer(this.value)">
            </div>
        </div>

        // Saut de ligne au reste de la division euclidienne
        if (i % 7 == 0)
        {
            <br />
        }
    }
}

<form asp-action="Create" asp-controller="Loterie" method="post">
    <div>
        @* Je cache quelques input *@
        <input type="hidden" asp-for="GrillePartie">
        <input type="hidden" asp-for="Guid">
        <input type="hidden" asp-for="ResultatTirage">
        @* ... *@
        <span asp-validation-for="GrillePartie"></span>
        <span asp-validation-for="ResultatTirage"></span>
    </div>
    <div id="section-btn-valider-reinitisaliser" style="display:none">
        <input type="submit" value="Valider">
        <input type="reset" value="Réinitialiser">
    </div>
</form>

<div id="selection"></div>

<script>
    $i = 0;
    var valConcat = "";
    function jouer(val) {
        valConcat += val + ",";

        if ($i < 6) {
            // Cache l'input
            document.getElementById(val).style.visibility = "hidden";
            // Affiche l'input dans la DIV
            document.getElementById("selection").innerHTML += '<div class="btn-selection">' + val + '</div>';
            $i++;

            if ($i === 6) {
                // J'affiche la DIV avec les boutons valider et reset
                document.getElementById("section-btn-valider-reinitisaliser").style.display = "block";
                // J'affiche la DIV avec les informations
                document.getElementById('info').style.display = "block";
                // Permet de choper la string de la saisie de l'utilisateur de la grille
                document.getElementsByName("GrillePartie")[0].value = valConcat.substring(0, valConcat.length - 1);
            }
        }
    }
</script>